<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>


<div class="jumbotron text-center">
    <h1>My First Recipi Book</h1>
    <p>Please click on the image to find the recipe</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <p><a class="dropdown-item" href="jerk.html"><img src="images/jerk.jpg" alt="Jerk Chicken" width="400px"></a></p>
            <a class="dropdown-item" href="jerk.html"><img src="images/jamaica.jpg" alt="Jamaica" width="200px"></a>
        </div>
        <div class="col-sm-4">
            <a class="nav-link" href="injera.html"><img src="images/india.png" width="200px"></a>
              <a class="nav-link" href="golabjamun.html"><img src="images/gulab-jamuns.jpg" width="200px"></a>

        </div>

        <div class="col-sm-4">
            <a class="dropdown-item" href="rice.html"><img src="images/rice.jpg" alt="Pumpkin Rice Noodles" width="200px"></a>
            <a class="dropdown-item" href="rice.html"><img src="images/taiwan.jpg" alt="Taiwan" width="200px"></a>


        </div>


</div>





<div class="container">
    <div class="row">
        <div class="col-sm-4">

            <p><a class="dropdown-item" href="bara.html"><img src="images/nepal.jpg" alt="Nepal" width="200px"></a>
                <a class="dropdown-item" href="bara.html"><img src="images/bara.jpg" alt="bara" width="200px"></a>
        </div>
        <div class="col-sm-4">
            <a class="nav-link" href="injera.html"><img src="images/flag.png" width="200px"></a>
                <a class="nav-link" href="injera.html"><img src="images/Injera.jpg" width="200px"> </span></a>



        </div>
        <div class="col-sm-4">
            <a class="dropdown-item" href="crabby.html"><img src="images/crab.jpg" width="200px"></a>
            <a class="dropdown-item" href=".html"><img src="images/maryland.jpg" alt="Maryland" width="200px"></a>


        </div>
    </div>
</div>


        <div class="col-sm">
            <p class="4" style="color: blue"> Enjoy Your Meal</p>
        </div>
    </div>
</div>




</body>
</html>