<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>




<div class="container">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">

                   <a class="nav-link" href="crabby.html">Crabby</a>
                    <a class="nav-link" href="injera.html">Injera</a>
                    <a class="nav-link" href="golabjamun.html">Gulabjam</a>
                    <a class="nav-link" href="jerk.html">Jerk Chicken</a>
                    <a class="nav-link" href="rice.html">Pumpkin Rice Noodles </a>
                    <a class="nav-link" href="bara.html">Bara</a>
                    <a class="nav-link" href="galary.html">Photo Galary</a>
                    <div class="collapse navbar-collapse" id="nav">





                    </div>

            </nav>

</div>


<div class="jumbotron"><h1 style="color: #ff2d3c"> My Recipe Book</h1></div>



<div class="container">
    <div class="row">
        <div class="col-md">
           <h2 class="text-center"><mark> Find the Recipe</mark></h2>
        </div>
        <div class="col-md">
            <h2 class="text-center"><mark>Cook the Food</mark></h2>
        </div>
        <div class="col-md">
            <h2 class="text-center"> <mark>Enjoy your Meal</mark></h2>
        </div>
    </div>
</div>

<!-- <div class="container">
     <div class="row">
         <div class="col-sm">
             One of three columns
         </div>
         <div class="col-sm">
             One of three columns
         </div>
         <div class="col-sm">
             One of three columns
         </div>
     </div>
 </div>

 <div class="container">
     <div class="row">
         <div class="col-md">
             One of three columns
         </div>
         <div class="col-md">

             One of three columns
         </div>
         <div class="col-md">
             One of three columns
         </div>
     </div>
 </div>
</div>
-->

<div class="jumbotron text-center">
    <h1>Enjoy!</h1>
</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>