<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>

<h1> Injera </h1>

<body background="images/background.jpg"></body>
<img src="images/flag.png" alt="Flag" width="800px" length="800">

<p><i> Ethiopia</i></p>

<h3> ingredients:</h3>


<ul><li>   ¾ cup teff flour (found in health food shops) r</li>
    <li> 3½ cups water</li>
    <li> pinch of salt    </li>




</ul>

<h2> Directions:</h2>

<p>Standing time 2 days</p>
<p> Mix teff with the water. Leave to stand in a covered bowl for a couple of days until it starts to bubble. </p>

<p> The mixture should be slightly sour and the consistency of crêpe batter. Stir in the salt.</p>
<p> Add a ladle of the mixture to a pre-heated skillet and cook slowly until air bubbles rise to the top.</p>
<p> Do not let it brown, and make sure that it is not too thick.</p>

<h2> Images </h2>

<img src="images/Injera.jpg" alt="Injera" width="500px" length="800">

</body>
</html>