<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
    <link href="./css/stylesheet.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
</head>
<body>


<h1>  Jerk Chicken </h1>

<body background="images/background.jpg"></body>

<img src="images/jamaica.jpg.png" alt="Flag" width="500px" length="800">

<p><i>Jamaica</i></p>


<h3> ingredients:</h3>


<ul><li>   1/2 small onion, finely chopped </li>
    <li> 2 tablespoons soft dark brown sugar </li>
    <li> 3 tablespoons soya sauce     </li>
    <li> 3 tablespoons red wine vinegar   </li>
    <li> small handful chopped fresh thyme  </li>
    <li> 1 teaspoon sesame oil   </li>
    <li>  3 cloves garlic, chopped  </li>
    <li>1/2 teaspoon ground allspice  (optional)  </li>
    <li> 1 small red chilli, sliced </li>
    <li>4 skinless, boneless chicken breast fillets - cut into strips  </li>





</ul>

<h2> Directions:</h2>

<p>Prep:10min  ›  Cook:15min  ›  Extra time:1hr  ›  Ready in:1hr25min  up. Serve immediately, or chill.</p>
<p> Combine the onion, brown sugar, soya sauce, vinegar, thyme, sesame oil, garlic, allspice and chilli in the container of a food processor or blender. Process until smooth. Place the chicken into a large resealable bag, and pour in 3/4 of the mixture. Save the remaining mixture for serving. Squeeze out excess air, and seal. Marinate in the refrigerator for at least one hour</p>

<p> Preheat your oven's broiler without the tray.</p>
<p> Remove chicken from the bag, and discard marinade. Place chicken on tray and broil for 10 to 15 minutes, turning once to ensure even cooking. Heat reserved 1/4 marinade in a small pan to make a sauce and pour over chicken when serving.</p>
<h2> Images </h2>

<img src="images/jerk.jpg" alt="Jerk Chicken" width="500px" length="800">

</body>
</html>