h1{
    text-align: center;
    font-weight:bold;
    font-size:120px;
    background-color:aquamarine;
    font-family: 'Pacifico', cursive;

}
nav{

    background-color: aqua;

}

.p {

    font-family: 'Courgette', cursive;
}



body {
    /* The image used */
    background:url(../images/recepi.jpg) no-repeat center center fixed;


    height: 100%;


    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*

body, html {
    height: 100%;
}

.bg {
    /* The image used */
/*background-image: url("img_girl.jpg");*/

/* Full height */
/*height: 100%;

/* Center and scale the image nicely */
/*background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
 */

.font-family{: 'Open Sans', sans-serif;}

img{

    width:50%;

}

.headerclass{
    color:#802934;

}

.greentext{
    color: #2a8060;

}

#exampleInputEmail1{
    color:brown;
}

h2{

    font-family: 'Pacifico', cursive;
}

.navbar
{
    background-color:blue;
}
